# Dependencias
/node_modules/

# Archivos de compilación
/dist/
/.angular/
/.cache/

# Archivos de entorno sensibles
/src/environments/environment.ts
/src/environments/environment.*.ts

# Archivos de editores
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de pruebas y cobertura
/coverage/
/test-results/

# Archivos de configuración del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de Firebase CLI
.firebase/
firebase.json
.firebaserc